{% extends "base.html" %}
{% block title %}Личный кабинет{% endblock %}
{% block content %}
<h1 class="mt-0 mb-1">{{ object.title }}</h1>
<h3 class="category">{{ object.category }}</h3>
<h5 class="place">{{ object.city }}, {{ object.location }}</h5>
<h5 class="card-text">Состоится {{ object.date }}</h5>
<img class="ml-3" width="600" src="{{ object.image.url }}" alt="Card image cap">
<a href="" class="reg">Зарегистрироваться</a>
<p class="card-text">{{ object.description | safe }}</p>
{% endblock %}
