<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</head>
<body>
<!--Test div, delete-->
<div class="card">
  <div class="card-body">
    <h4 class="card-title">Заголовок карточки</h4>
    <h6 class="card-subtitle mb-2 text-muted">Подзаголовок карточки</h6>
    <p class="card-text">
      Пример текста, который будет основан на названии карточки
и составит основную часть содержимого карточки.
    </p>
    <a href="#!" class="card-link">Ссылка на карточку</a>
    <a href="#!" class="card-link">Ещё одна ссылка</a>
  </div>
</div>
</body>
</html>